.content-background{
    background-image: url("../img/IMG_3079.jpg");
    background-size: cover;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

img{
    margin-block-start: 15px;
    margin-block-end: 15px;
    transition: ease .2s;
}

img:hover{
    filter: brightness(1.5);
}

a{
    color: rgb(163, 0, 208);
    margin-right: 3px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.introduction{
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 35px;
    font-family: "Whitney Bold";
}

input{
    width: 300px;
}

.keyword{
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 12px;
    display: flex;
}

.description{
    color: grey;
    margin-right: 3px;
}

.alphetsearch-input{
    padding: 10px 7px;
    border: rgb(163, 0, 208) 1px solid;
    margin-block-start: 20px;
    margin-block-end: 20px;
    outline: none;
    transition: ease .1s;
    display: flex;
}

.alphetsearch-input:hover{
    border: rgb(215, 68, 255) 1px solid;
}

.alphetsearch-input::placeholder{
    color: rgb(160, 160, 160);
}